<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php">

    <php>
        <var name="CREATE_TEST_DATA" value="false" />
    </php>

    <testsuites>
        <testsuite name="Planet4">
            <directory suffix=".php">p4</directory>
            <exclude>./p4/ENPages.php</exclude>
            <exclude>./p4/ActPage.php</exclude>
            <exclude>./p4/ExplorePage.php</exclude>
            <exclude>./p4/Homepage.php</exclude>
            <exclude>./p4/Varnish.php</exclude>
            <exclude>./p4/GoogleLogin.php</exclude>
            <exclude>./p4/CarouselSplit.php</exclude>
            <exclude>./p4/RedirectModule.php</exclude>
            <exclude>./p4/Comments.php</exclude>

            <!-- shortcake_media_block is missing -->
            <exclude>./p4/MediaBlock.php</exclude>
            <exclude>./p4/GPMLAddMediaBlocksImage.php</exclude>

            <!-- does not seem to create an iframe that it expects :/ -->
            <exclude>./p4/HappyPoint.php</exclude>

            <!-- this might be easy to get going, just need the right content -->
            <exclude>./p4/SplitTwoColumns.php</exclude>

            <!-- shows "Error while fetching data from remote server!!!", some more config needed? -->
            <exclude>./p4/GPMLAddFeaturedImage.php</exclude>
            <exclude>./p4/GPMLAddMedia.php</exclude>

            <!-- these regularly crash, probably too much memory
                 see https://circleci.com/gh/greenpeace/planet4-docker-selenium-tests/49 -->
            <exclude>./p4/CarouselHeader.php</exclude>
            <exclude>./p4/Search.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
