<?xml version="1.0" encoding="UTF-8"?>

<phpunit>
  <testsuites>
	<testsuite name="Planet 4">
	<directory suffix=".php">p4</directory>  
	<exclude>./p4/EN_forms.php</exclude>

<!-- order of tests to be executed can also be specified as following:    
        <file>./sample/AN_changedomain.php</file>
        <file>./sample/AN_changedomain_detox.php</file>
        <file>./sample/LU_login.php</file>    -->
<!--    <groups>
                <include>
                        <group>GPI</group>
                </include>
                <exclude>
                        <group>GPI</group>
                 </exclude>
        </groups>
-->

    </testsuite>
  </testsuites>
</phpunit>


