<?xml version="1.0" encoding="UTF-8"?>

<phpunit>
  <testsuites>
	<testsuite name="Planet 4">
	<directory suffix=".php">p4</directory>
	<exclude>./p4/EN_forms.php</exclude>
  <exclude>./p4/CampaignThumbnail.php</exclude>
  <exclude>./p4/Header.php</exclude>
  <exclude>./p4/SplitTwoColumns.php</exclude>
  <exclude>./p4/Tasks.php</exclude>

<!-- order of tests to be executed can also be specified as following:   
        <file>./p4/Articles.php</file>
        <file>./p4/Carousel.php</file>
        <file>./p4/MediaBlock.php</file>  
--> 
<!--    <groups>
                <include>
                        <group>GPI</group>
                </include>
                <exclude>
                        <group>GPI</group>
                 </exclude>
        </groups>
-->

    </testsuite>
  </testsuites>
</phpunit>


